<h3>About this App...</h3>

<p>
  This app is a basic example of an Ember 2.1.0 app.
  It demonstrates the following concepts:

  <ul>
    <li>The Ember framework</li>
    <li>Isolating the API using ember-cli-mirage</li>
    <li>Testing</li>
    <li>JSON-API</li>
  </ul>
</p>


<h4>Contact the Author:</h4>

<p>
  <div class="leo-gravatar"></div>

  Leo Hernandez
</p>

<p>
  <i class="fa fa-twitter"></i>
  Twitter: <a href="http://twitter.com/leojh" target="_blank">@leojh</a>
</p>
